<style>
.container-fluid{
    background-color: black;
}

</style>

<nav class="navbar navbar-dark navbar-primary" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon  glyphicon-tree-deciduous"></span>
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/auth/login">LOGIN</a></li>
                <li><a href="/auth/logout">LOGOUT</a></li>
                <li><a href="/auth/register">REGISTER</a></li>
                <li><a href="/positions/addposition">ADD  POSITION</a></li>
                <li><a href="/positions">VIEW POSITIONS</a></li>
                <li><a href="/positions/updatestatusofposition">UPDATE POSITIONS</a></li>
            </ul>

        </div>

    </div>
</nav>