<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <% include ../partials/navigation %>
    </header>
    <p style="color: deepskyblue;font-size: xx-large;font-weight: bolder;"><%= title %></p>
    <img style="width: 30%; height: 30%;" src="../images/<%= image%>" alt="unauthorized">

  </body>
</html>
