<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
    <title>Login Required</title>
  </head>
  <body>
    <header>
      <% include ./partials/navigation %>
    </header>
   <div style="color: deepskyblue;font-size: xx-large;font-weight: bolder;">Login is required to see the details.</div>
   <img style="width: 30%; height: 30%;" src="../images/loginrequired.png" alt="sorry could not load">
  </body>
</html>

